body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    color: aqua;
    font-size: 60px;
    margin-bottom: 20px;
}

button {
    color: bisque;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid bisque;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}